<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand">Contact App</span>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a href="/messages" class="nav-link" routerLink="messages">Messages</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<router-outlet></router-outlet>
